.main-color *{
    color: #224F34 ;

}
.bg-light-green{
    background: #C2EFD4;

}
.light-g-font{ color: #C2EFD4;}
.light-g-border{
   border-color:  #C2EFD4;

}
 /* Rivo */
.rivo-font{
font-family: 'Elephant';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;

}

#hero {
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;}
#hero h1,
#hero p{
    width: 65%;
}
.btn-outline{
   border-color:  #224F34;
}
.btn-m-color{
    background-color: #224F34;

}
.light-g-color{
   color:  #267D49;
   
}
.rufina-regular {
    font-family: "Rufina", serif;
    
}
.robot-salab{
    font-family: "Roboto Slab", serif;
}

 .pic-bg{
    background-color: #6BC785;
    border-radius: 141px 45px 150px 82px; 
 }
#h-pic{
    width: 17rem;
}
img{
    max-width: 100%;
}

#best-selling{
    font-family: "Roboto Slab", serif;
    color:  #224F34;
}
/* Ensure all cards have the same height */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
}

.product-1 {
    background-color: #93B9A2;
}

.product-2 {
    background-color: #A9D4BA;
}

.product-3 {
    background-color: #CADCD0;
}


.product-1 img,
.product-2 img,
.product-3 img {
    max-height: 566px; 
    width: 100%;
    object-fit: contain; 
}
.qutation{
    color: #224F34;
    font-size: 2rem;
}
.form-control.border-end-0 {
    border-right: none;
}

.btn.border-start-0 {
    border-left: none;
}


ul.list-group.btn-m-color {
    background-color: inherit;
}

.list-group-item {
    background-color: transparent;}








