/* Equal Heights for OwlCarousel 2 */
.owl-carousel {
	.owl-stage {
		display: flex;
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
        width: 100%;
	}
	.thumbnail {
		display: flex;
		flex-direction: column;
        
        padding: 25px 20px;
		margin: 0 15px;
        position: relative;
        padding: 25px 20px;
        border: 1px solid #d7d7d7;
        border-radius: 5px;
        background-color: #fff;
		.caption {
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            padding-left: 18px;
			.flex-text {
				flex-grow: 1;
			}
		}
	}
}
/* ccccccc */
.client-item {
    position: relative;
    padding: 25px 20px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background-color: #fff;
}
.client-img {
    width: 124px;
    display: table-cell;
    vertical-align: middle;
}
.client2-detail {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 18px;
}